
main.contact-page {
    overflow: hidden;
    margin-top: 0;
}


#contact-form {
    width: 100%;
    height: 780px;
    @include flexBox(row);
    justify-content: center;

    .form-container {
        width: 100%;
        height: 100%;
        max-width: 1140px;
        @include flexBox(row);
        align-items: center;

        & > div {
            width: 100%;
            height: 68%;
            @include flexBox(row);

            .form-message {
                width: 50%;
                height: 100%;
                border-right: 1px solid black;

                h2 {
                    font-size: 3em;
                    color: #dddddd;
                    margin: 0;
                }

                h3 {
                    font-size: 3.3em;
                    margin: 0 0 25px 0;
                    color: #020004;
                }

                p {
                    width: 90%;
                    font-size: 1.1em;
                    line-height: 30px;
                }
            }

            .user-form {
                width: 50%;
                height: 100%;
                @include flexBox(row);
                justify-content: center;

                form {
                    width: 90%;
                    height: 100%;
                    @include flexBox(column);
                    position: relative;

                    [name="name"], [name="email"], [name="subject"], [name="phoneNumber"] {
                        width: 100%;
                        height: 50px;
                        border: none;
                        border-bottom: 1px solid black;
                        padding: 12px 0;
                        background-color: transparent;
                        margin-bottom: 15px;

                        &:focus {
                            outline: none;
                        }
                    }

                    textarea {
                        resize: vertical;
                        max-height: 282px;
                        min-height: 50px;
                        border: none;
                        border-bottom: 1px solid black;
                        padding: 12px 0;
                        background-color: transparent;
                        margin-bottom: 15px;

                        &:focus {
                            outline: none;
                        }
                    }

                    [type="checkbox"] {
                        width: 20px;
                        height: 20px;
                        margin: 15px 0 75px 0;
                    }

                    [type="submit"] {
                        position: absolute;
                        bottom: 0;
                        width: 178px;
                        height: 52px;
                        background-color: #020004;
                        color: #dddddd;
                        font-size: 1.1em;
                        font-weight: 600;
                        border: none;
                        @include imgCurve();
                        transition: background-color .1s ease-in-out, color .1s ease-in-out;

                        &:hover {
                            background-color: $mainColor;
                            color: #212529;
                        }
                    }

                }
            }
        }
    }
}