
@import "./mixin";


*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

html {
    height: 100%;
}

body {
    width: 100%;
    min-height: 100%;
    font-family: 'Sen', sans-serif;

    &.noscroll {
        position: fixed;
        overflow-y: scroll;
    }
}




/*===========================*/
/*=========UI STYLES=========*/
/*===========================*/


header {
    width: 100%;
    height: 105px;
    background-color: rgb(66, 21, 64);
    @include flexBox(row);
    justify-content: center;

    .header-container {
        width: 100%;
        height: 100%;
        max-width: 1140px;
        background-color: rgb(41, 43, 139);
        @include flexBox(row);
        justify-content: space-between;

        .site-logo {
            width: 250px;
            height: 100%;
            background-color: rgb(33, 85, 138);
            position: relative;

            a {
                width: 100%;
                height: 100%;
                position: absolute;
            }
        }

        .top-navigation {
            width: 250px;
            height: 100%;
            background-color: rgb(29, 104, 48);
            @include flexBox(row);
            align-items: center;

            & > div {
                width: 100%;
                height: 25px;
                @include flexBox(row);
                justify-content: flex-end;

                div {
                    @include flexBox(row);
                    justify-content: center;
                    align-items: center;
                    color: #ffffff;
                    transition: color .2s ease-in-out;
                    font-size: 1.1em;

                    &:hover {
                        color: #777;
                    }
                }

                .email {
                    width: 25px;
                    height: 100%;
                    margin-right: 25px;
                    position: relative;

                    a {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                    }
                }

                .menu {
                    width: 25px;
                    height: 100%;
                    margin-right: 25px;
                }

                input {
                    width: 0;
                    height: 100%;
                    border: none;
                    transition: width .5s ease-in-out;
                    @include imgCurve();

                    &.tap {
                        width: 75%;
                        padding-left: 10px;
                        margin-right: 10px;
                    }
                }

                .search {
                    width: 25px;
                    height: 100%;
                }
            }
        }
    }
}






aside {
    width: 25%;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 5;
    background-color: #ffffff;
    @include flexBox(row);
    justify-content: center;
    transform: translateX(100%);
    transition: transform .3s ease-in-out;

    &.clicked {
        transform: translateX(0);
    }

    nav {
        width: 85%;
        height: 80%;
        margin-top: 25px;
        @include flexBox(column);

        h3 {
            margin: 0 0 12px 0;
            text-transform: uppercase;
        }

        ul {
            padding: 0;
            margin: 0;
            overflow: hidden;

            li {
                list-style: none;
            }
        }

        .close-button {
            width: 100%;
            height: 25px;
            position: relative;

            span {
                display: block;
                width: 25px;
                height: 25px;
                position: absolute;
                right: 0;
                @include flexBox(row);
                justify-content: center;
                align-items: center;
                font-size: 1.1em;
            }
        }

        .about-nav {
            width: 100%;
            height: 105px;
            margin-top: 25px;

            p {
                font-size: .9em;
                color: #777;
            }
        }

        .authors-nav {
            width: 100%;
            height: 150px;
            margin-top: 25px;

            li {
                margin-bottom: 10px;
                color: #777;
            }
        }

        .categories-nav {
            width: 100%;
            height: 150px;
            margin-top: 25px;

            li {
                margin-bottom: 10px;
                color: #777;
            }
        }

        .social-nav {
            width: 100%;
            height: 80px;
            margin-top: 25px;

            ul {
                width: 100%;
                height: 28px;
                padding: 0;
                margin: 0;
                @include flexBox(row);

                li {
                    list-style: none;
                    width: 28px;
                    height: 28px;
                    margin-right: 20px;
                    @include flexBox(row);
                    justify-content: center;
                    align-items: center;
                    border: 2px solid #514f50;
                    border-radius: 50%;
                    transition: border-color .2s ease-in-out;

                    span {
                        display: block;
                        color: #514f50;
                        transition: color .2s ease-in-out;
                    }

                    &:hover {
                        border-color: $mainColor;

                        span {
                            color: $mainColor;
                        }
                    }
                }
            }
        }
    }
}


#overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0.363);
    z-index: 3;
    transform: translateY(-100%);
    opacity: 0;
    transition: opacity .2s ease-in-out, transform .2s linear .2s;
    @include flexBox(row);
    justify-content: center;
    align-items: center;

    &.clicked {
        transform: translateY(0);
        opacity: 1;
        transition: opacity .2s ease-in-out, transform 0s linear;
    }

    #video-player {
        width: 550px;
        height: 420px;
        background-color: #ffffff;
        overflow: hidden;
        transform: scale(0);
        z-index: 6;
        @include flexBox(column);
        align-items: center;
        transition: transform .3s ease-in-out;

        &.opened {
            transform: scale(1);
        }
    
        h2 {
            margin: 25px 0;
        }
    
        video {
            width: 80%;
            height: 70%;
            object-fit: cover;
        }
    }
}

// .video-container {
//     width: auto;
//     height: 100vh;
//     background-color: greenyellow;
//     position: fixed;
//     top: 0;
//     left: 50%;
//     transform: translateX(-50%);
//     transform: scale(0);
//     z-index: 6;
//     @include flexBox(row);
//     align-items: center;
//     transition: transform .3s ease-in-out;

//     &.opened {
//         transform: scale(1);
//     }

//     #video-player {
//         width: 550px;
//         height: 420px;
//         background-color: goldenrod;
//         overflow: hidden;
//         @include flexBox(column);
//         align-items: center;
    
//         h2 {
//             margin: 25px 0;
//         }
    
//         video {
//             width: 80%;
//             height: 70%;
//             object-fit: cover;
//         }
//     }
// }











main {
    overflow: hidden;
    margin-top: 200px;
}









/*=====================*/
/*====FIRST SECTION====*/
/*=====================*/


#first {
    overflow: hidden;
    @include flexBox(row);
    justify-content: center;

    .first-container {
        width: 100%;
        max-width: 1140px;
        height: 630px;
        overflow: hidden;
        @include flexBox(column);

        & > h2 {
            text-align: center;
            @include sectionTitle();
        }

        .first-content {
            height: 100%;
            @include flexBox(row);
            justify-content: space-between;

            & > div {
                height: 85%;
                max-height: 478px;
                cursor: pointer;

                &:first-of-type {
                    width: 50%;
                    position: relative;
                    @include imgCurve();
                    @include beforeHover();
                    @include imgTransition(30px, 25px);

                    img {
                        @include siteImg();
                    }

                }

                &:nth-of-type(2) {
                    width: 22.5%;

                    h3 {
                        font-size: 1.3em;
                        @include pHover(#232222, $mainColor);
                    }

                    & > p {
                        &:first-of-type {
                            font-size: .9em;
                            color: #777777;
                        }

                        &:last-of-type {
                            font-size: 1em;
                            font-weight: 600;
                            @include pHover($mainColor, rgb(21, 22, 66));
                        }
                    }

                    & > div {
                        width: 100%;
                        height: 70%;
                        position: relative;
                        @include imgCurve();
                        @include beforeHover();
                        @include imgTransition(80px, 20px);

                        img {
                            @include siteImg();
                        }
                    }
                }

                &:last-of-type {
                    width: 22.5%;

                    h3 {
                        font-size: 1.3em;
                        @include pHover(#232222, $mainColor);
                    }

                    & > p {
                        &:first-of-type {
                            font-size: .9em;
                            color: #777777;
                        }

                        &:last-of-type {
                            font-size: 1em;
                            font-weight: 600;
                            @include pHover($mainColor, rgb(21, 22, 66));
                        }
                    }

                    & > div {
                        width: 100%;
                        height: 70%;
                        position: relative;
                        @include imgCurve();
                        @include beforeHover();
                        @include imgTransition(80px, 20px);

                        img {
                            @include siteImg();
                        }
                    }
                }
            }
        }
    }
}









/*======================*/
/*====SECOND SECTION====*/
/*======================*/


#second {
    width: 100%;
    min-height: 1200px;
    @include flexBox(row);
    justify-content: center;

    .second-container {
        width: 100%;
        max-width: 1140px;
        @include flexBox(row);
        justify-content: space-between;









        /*===================*/
        /*====LEFT COLUMN====*/
        /*===================*/

        .main-left {
            width: 65%;
            height: 100%;



            /******************/
            /*****ARTICLES*****/
            /******************/

            .articles {
                width: 100%;
                height: 510px;
                overflow: hidden;

                h2 {
                    @include sectionTitle();
                }

                & > div {
                    width: 100%;
                    height: 82%;
                    position: relative;
                    @include flexBox(row);
                    justify-content: space-between;

                    .arts {
                        width: 30%;
                        height: 100%;
                        
                        & > div:first-of-type {
                            width: 100%;
                            height: 70%;
                            position: relative;
                            cursor: pointer;
                            @include imgCurve();
                            @include beforeHover();
                            @include imgTransition(80px, 20px);

                            img {
                                @include siteImg();
                            }
                        }

                        h3 {
                            @include pHover(#232222, $mainColor);
                            cursor: pointer;
                        }

                        .author {
                            @include authorDiv();
                        }
                    }
                }
            }







            /*******************/
            /*****PRACTICES*****/
            /*******************/


            .practices {
                width: 100%;
                height: auto;
                overflow: hidden;
                margin-top: $sectionSpace;
                @include flexBox(column);

                h2 {
                    @include sectionTitle();
                }

                .top-practice {
                    width: 100%;
                    height: 425px;
                    @include flexBox(row);
                    justify-content: space-between;

                    .prac {
                        width: 48%;
                        height: 100%;

                        & > div {
                            width: 100%;
                            height: 57%;

                            &:first-of-type {
                                position: relative;
                                @include imgCurve();
                                @include beforeHover();
                                @include imgTransition(60px, 20px);

                                img {
                                    @include siteImg();
                                }
                            }
                        }

                        h3 {
                            @include pHover(#232222, $mainColor);
                        }

                        & > p {
                            color: #777777;
                        }
                        
                        .author {
                            @include authorDiv();
                        }
                    }
                }

                .bottom-practice {
                    width: 100%;
                    height: 482px;
                    margin-top: $sectionSpace;
                    @include flexBox(row);
                    flex-wrap: wrap;
                    justify-content: space-between;

                    .bPrac {
                        width: 48.5%;
                        height: 22%;
                        @include flexBox(row);
                        justify-content: space-between;

                        & > div {
                            &:first-of-type {
                                width: 28%;
                                height: 100%;
                                position: relative;
                                cursor: pointer;
                                @include imgCurve();

                                img {
                                    @include siteImg();
                                }
                            }

                            &:last-of-type {
                                width: 70%;
                                height: 100%;

                                h3 {
                                    margin: 0;
                                    cursor: pointer;
                                    @include pHover(#232222, $mainColor);
                                }

                                p {
                                    margin-top: 5px;
                                    color: #777777;
                                }
                            }
                        }
                    }
                }
            }







                /*********************/
                /*****STREET FOOD*****/
                /*********************/


                .street-food {
                    width: 100%;
                    height: 510px;
                    overflow: hidden;
                    margin-top: $sectionSpace;
    
                    h2 {
                        @include sectionTitle();
                    }
    
                    & > div {
                        width: 100%;
                        height: 82%;
                        position: relative;
                        @include flexBox(row);
                        justify-content: space-between;
    
                        .street {
                            width: 30%;
                            height: 100%;
                            
                            & > div:first-of-type {
                                width: 100%;
                                height: 70%;
                                position: relative;
                                cursor: pointer;
                                @include imgCurve();
                                @include beforeHover();
                                @include imgTransition(80px, 20px);
    
                                img {
                                    @include siteImg();
                                }
                            }
    
                            h3 {
                                @include pHover(#232222, $mainColor);
                            }
    
                            .author {
                                @include authorDiv();
                            }
                        }
                    }
                }







                /******************************/
                /*****HEALTH AND LIFESTYLE*****/
                /******************************/


                .lifestyles {
                    width: 100%;
                    height: 885px;
                    overflow: hidden;
                    margin-top: $sectionSpace;

                    h2 {
                        @include sectionTitle();
                    }

                    & > div {
                        width: 100%;
                        height: 90%;
                        @include flexBox(column);
                        justify-content: space-between;

                        .life {
                            width: 100%;
                            height: 30.5%;
                            @include flexBox(row);
                            justify-content: space-between;

                            & > div {
                                width: 48%;

                                &:first-of-type {
                                    position: relative;
                                    @include imgCurve;
                                    cursor: pointer;

                                    img {
                                        @include siteImg();
                                    }
                                }

                                &:last-of-type {

                                    h3 {
                                        @include pHover(#232222, $mainColor);
                                        cursor: pointer;
                                        margin-top: 0;
                                    }

                                    .author {
                                        @include authorDiv();
                                    }

                                    & > p {
                                        &:first-of-type {
                                            color: #777777;
                                        }

                                        &:last-of-type {
                                            @include pHover($mainColor, rgb(21, 22, 66));
                                            font-size: 1em;
                                            font-weight: 600;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                








                /************************/
                /*****SMALL CATEGORY*****/
                /************************/


                .small-category {
                    width: 100%;
                    height: 220px;
                    overflow: hidden;
                    margin-top: $sectionSpace;

                    h2 {
                        @include sectionTitle();
                    }

                    & > div {
                        width: 100%;
                        height: 70%;
                        @include flexBox(row);
                        justify-content: space-between;

                        .sCats {
                            width: 30%;
                            height: 100%;
                            position: relative;
                            @include imgCurve();
                            @include beforeHover();
                            @include imgTransition(30px, 0);
                            @include flexBox(row);
                            justify-content: center;

                            span {
                                font-size: 1.8em;
                                text-align: center;
                            }

                            img {
                                @include siteImg();
                            }
                        }
                    }
                }







                /***********************/
                /*****TRENDY DISHES*****/
                /***********************/


                .dishes {
                    width: 100%;
                    height: 885px;
                    overflow: hidden;
                    margin-top: $sectionSpace;

                    h2 {
                        @include sectionTitle();
                    }

                    & > div {
                        width: 100%;
                        height: 90%;
                        @include flexBox(column);
                        justify-content: space-between;

                        .dish {
                            width: 100%;
                            height: 30.5%;
                            @include flexBox(row);
                            justify-content: space-between;

                            & > div {
                                width: 48%;

                                &:first-of-type {
                                    position: relative;
                                    @include imgCurve;
                                    cursor: pointer;

                                    img {
                                        @include siteImg();
                                    }
                                }

                                &:last-of-type {

                                    h3 {
                                        @include pHover(#232222, $mainColor);
                                        cursor: pointer;
                                        margin-top: 0;
                                    }

                                    .author {
                                        @include authorDiv();
                                    }

                                    & > p {
                                        &:first-of-type {
                                            color: #777777;
                                        }

                                        &:last-of-type {
                                            @include pHover($mainColor, rgb(21, 22, 66));
                                            font-size: 1em;
                                            font-weight: 600;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }







                /************************/
                /*****GREAT CULTURES*****/
                /************************/

                .cultures {
                    width: 100%;
                    height: auto;
                    overflow: hidden;
                    margin-top: $sectionSpace;
                    @include flexBox(column);

                    h2 {
                        @include sectionTitle();
                    }
    
                    & > div {
                        width: 100%;
                        height: 425px;
                        @include flexBox(row);
                        justify-content: space-between;
    
                        .cult {
                            width: 48%;
                            height: 100%;
    
                            & > div {
                                width: 100%;
                                height: 57%;
    
                                &:first-of-type {
                                    position: relative;
                                    @include imgCurve();
    
                                    img {
                                        @include siteImg();
                                    }
                                }
                            }

                            h3 {
                                @include pHover(#232222, $mainColor);
                            }

                            & > p {
                                color: #777777;
                            }
    
                            
                            .author {
                                @include authorDiv();
                            }
                        }
                    }
                }







                /************************/
                /*****STAY CONNECTED*****/
                /************************/


                .connected {
                    width: 100%;
                    height: 115px;
                    overflow: hidden;
                    margin-top: $sectionSpace;

                    h2 {
                        @include sectionTitle();
                    }

                    & > div {
                        width: 100%;
                        height: 42%;
                        @include flexBox(row);
                        justify-content: space-between;

                        .connect {
                            width: 21.5%;
                            height: 100%;
                            border: 1px solid #cccccc;
                            @include flexBox(row);
                            @include imgCurve();

                            &:nth-of-type(1):hover div:first-of-type span {
                                color: #4267B2;
                            }

                            &:nth-of-type(2):hover div:first-of-type span {
                                color: #71C9F8;
                            }

                            &:nth-of-type(3):hover div:first-of-type span {
                                color: #DC4E41;
                            }

                            &:nth-of-type(4):hover div:first-of-type span {
                                color: #B11D7B;
                            }

                            div {
                                &:first-of-type {
                                    width: 30%;
                                    height: 100%;
                                    border-right: 1px solid #cccccc;
                                    @include flexBox(row);
                                    justify-content: center;
                                    align-items: center;

                                    span {
                                        display: block;
                                        font-size: 1.2em;
                                        transition: color .2s ease-in-out;
                                    }
                                }

                                &:last-of-type {
                                    width: 70%;
                                    height: 100%;
                                    @include flexBox(column);
                                    justify-content: center;

                                    p {
                                        margin: 0;
                                        text-align: center;
                                        font-size: .9em;
                                    }
                                }
                            }
                        }
                    }
                }







                /************************/
                /*****HEART CLOGGERS*****/
                /************************/

                .cloggers {
                    width: 100%;
                    height: auto;
                    overflow: hidden;
                    margin-top: $sectionSpace;
                    @include flexBox(column);

                    h2 {
                        @include sectionTitle();
                    }
    
                    & > div {
                        width: 100%;
                        height: 425px;
                        @include flexBox(row);
                        justify-content: space-between;
    
                        .clog {
                            width: 48%;
                            height: 100%;
    
                            & > div {
                                width: 100%;
                                height: 57%;
    
                                &:first-of-type {
                                    position: relative;
                                    @include imgCurve();
    
                                    img {
                                        @include siteImg();
                                    }
                                }
                            }
    
                            h3 {
                                @include pHover(#232222, $mainColor);
                            }

                            & > p {
                                color: #777777;
                            }
                            
                            .author {
                                @include authorDiv();
                            }
                        }
                    }
                }







                /*******************/
                /*****INSTAGRAM*****/
                /*******************/

                .instagram {
                    width: 100%;
                    height: auto;
                    overflow: hidden;
                    margin-top: $sectionSpace;

                    h2 {
                        @include sectionTitle();
                    }

                    #jssor_1 {
                        height: 168px !important;
                        

                        div {
                            height: 168px !important;
                        }

                        & > div:first-of-type {
                            & > div {
                                top: 0 !important;
                                transform: none !important;

                                [data-u="slides"]:last-of-type {
                                    & > div {
                                        @include imgCurve();

                                        img {
                                            object-fit: cover;
                                        }
                                    }
                                }
                            }
                        }

                        & > div:last-of-type {
                            height: 15px !important;

                            div {
                                height: inherit !important;
                            }
                        }
                    }
                }










        /*****LEFT COLUMN END*****/
        }


























        /*====================*/
        /*====RIGHT COLUMN====*/
        /*====================*/

        .main-right {
            width: 30%;
            height: 100%;




            /*******************/
            /*****MUST READ*****/
            /*******************/

            .must-read {
                width: 100%;
                height: 520px;
                overflow: hidden;

                h2 {
                    @include sectionTitle();
                }

                & > div {
                    width: 100%;
                    height: 82%;
                    @include flexBox(column);
                    justify-content: space-between;

                    .reads {
                        width: 100%;
                        height: 22%;
                        justify-content: space-between;
                        @include flexBox(row);
                        @include readDiv();
                    }
                }
            }







            /********************/
            /*****CATEGORIES*****/
            /********************/


            .categories {
                width: 100%;
                height: 600px;
                margin-top: $sectionSpace;
                overflow: hidden;

                h2 {
                    @include sectionTitle();
                    margin-bottom: 20px;
                }

                .main-categories {
                    width: 100%;
                    height: 85%;
                    @include flexBox(column);
                    justify-content: space-between;

                    .cats {
                        width: 100%;
                        height: 17%;
                        background-color: transparent;
                        cursor: pointer;
                        border: 1px solid #cccccc;
                        @include imgCurve();
                        @include flexBox(row);
                        align-items: center;
                        transition: background-color .2s ease-in-out;

                        div {
                            width: 60px;
                            height: 60px;
                            position: relative;
                            margin-left: 10px;
                            @include imgCurve();

                            img {
                                @include siteImg();
                            }
                        }

                        h3 {
                            margin-left: 15px;
                            color: #232222;
                            transition: color .2s ease-in-out;
                        }

                        &:hover {
                            background-color: rgba(103, 101, 221, 0.308);

                            h3 {
                                color: $mainColor;
                            }
                        }
                    }
                }
            }







            /*********************/
            /*****RESERVATION*****/
            /*********************/

            .reservation {
                width: 100%;
                height: 560px;
                position: relative;
                margin-top: $sectionSpace;
                @include imgCurve();

                img {
                    @include siteImg();
                }

                h3, p {
                    position: absolute;
                    text-align: center;
                    width: 100%;
                    font-weight: 800;
                }

                h3 {
                    top: 20px;
                    font-size: 1.5em;
                }

                p {
                    bottom: 15px;
                    font-size: 1.2em;
                    color: $mainColor;
                }
            }








            /***********************/
            /*****LATEST VIDEOS*****/
            /***********************/

            .videos {
                width: 100%;
                height: 720px;
                overflow: hidden;
                margin-top: $sectionSpace;

                h2 {
                    @include sectionTitle();
                }

                & > div {
                    width: 100%;
                    height: 88%;
                    @include flexBox(column);
                    justify-content: space-between;

                    .vids {
                        width: 100%;
                        height: 47%;

                        & > div {
                            width: 100%;
                            height: 80%;
                            position: relative;
                            @include imgCurve();
                            @include flexBox(row);
                            justify-content: center;
                            align-items: center;
                            
                            &::before {
                                content: "";
                                position: absolute;
                                width: 100%;
                                height: 100%;
                                background-color: rgba(0, 0, 0, 0.363);
                            }

                            img {
                                @include siteImg();
                            }

                            .play {
                                position: absolute;
                                width: 78px;
                                height: 78px;
                                border-radius: 50%;
                                border: 3px solid #ffffff;
                                background-color: transparent;
                                @include flexBox(row);
                                align-items: center;
                                cursor: pointer;

                                span {
                                    display: block;
                                    margin-left: 25px;
                                    width: 0;
                                    height: 0;
                                    border-left: 25px solid #ffffff;
                                    border-top: 13px solid transparent;
                                    border-bottom: 13px solid transparent;
                                }
                            }
                        }

                        h3 {
                            font-size: 1em;
                            @include pHover(#232222, $mainColor);
                        }
                    }
                }
            }







            /***********************/
            /*****POPULAR POSTS*****/
            /***********************/

            .popular {
                width: 100%;
                height: 530px;
                overflow: hidden;
                margin-top: $sectionSpace;

                h2 {
                    @include sectionTitle();
                }

                & > div {
                    width: 100%;
                    height: 83%;
                    @include flexBox(column);
                    justify-content: space-between;

                    .pops {
                        width: 100%;
                        height: 10.5%;
                        @include flexBox(row);

                        h4 {
                            font-size: 2em;
                            font-style: italic;
                            width: 58px;
                            height: 45px;
                            margin: 0;
                            @include flexBox(row);
                            justify-content: center;
                            align-items: center;
                        }

                        h3 {
                            font-size: 1em;
                            width: 75%;
                            margin: 0 0 0 10px;
                            @include pHover(#232222, $mainColor);
                        }
                    }
                }
            }







            /*************************/
            /*****RECENT COMMENTS*****/
            /*************************/

            .comments {
                width: 100%;
                height: 520px;
                overflow: hidden;
                margin-top: $sectionSpace;

                h2 {
                    @include sectionTitle();
                }

                & > div {
                    width: 100%;
                    height: 82%;
                    @include flexBox(column);
                    justify-content: space-between;

                    .comms {
                        width: 100%;
                        height: 22%;
                        justify-content: space-between;
                        @include flexBox(row);
                        @include readDiv();

                        h3 {
                            @include pHover(#232222, $mainColor); 
                        }

                        div:first-of-type {
                            border-radius: 50%;
                        }
                    }
                }
            }







            /********************/
            /*****TRAILHOUSE*****/
            /********************/

            .trailhouse {
                width: 100%;
                height: 325px;
                position: relative;
                margin-top: $sectionSpace;
                @include imgCurve();

                img {
                    @include siteImg();
                }

                h3, p {
                    position: absolute;
                    text-align: center;
                    width: 100%;
                    font-weight: 800;
                }

                h3 {
                    top: 20px;
                    font-size: 1.5em;
                }

                p {
                    bottom: 15px;
                    font-size: 1.2em;
                    color: $mainColor;
                }
            }







            /********************/
            /*****DON'T MISS*****/
            /********************/


            .dont-miss {
                width: 100%;
                height: 1350px;
                overflow: hidden;
                margin-top: $sectionSpace;
                @include flexBox(column);

                h2 {
                    @include sectionTitle();
                }

                & > div {
                    width: 100%;
                    height: 95%;
                    @include flexBox(column);
                    justify-content: space-between;

                    .miss {
                        width: 100%;
                        height: 32%;

                        & > div {
                            width: 100%;
                            height: 57%;

                            &:first-of-type {
                                position: relative;
                                @include imgCurve();

                                img {
                                    @include siteImg();
                                }
                            }
                        }

                        h3 {
                            margin: 12px 0 12px 0;
                            @include pHover(#232222, $mainColor); 
                        }

                        & > p {
                            font-size: .9em;
                            margin-top: 0;
                        }

                        
                        .author {
                            @include authorDiv();
                        }
                    }
                }
            }





        /*****RIGHT COLUMN END*****/
        }
    }
}









#third {
    width: 100%;
    height: 590px;
    @include flexBox(row);
    justify-content: center;
    margin-top: $sectionSpace;

    .third-container {
        width: 100%;
        max-width: 1140px;
        height: 100%;
        overflow: hidden;
        margin-top: $sectionSpace;

        .subscribe {
            width: 100%;
            height: 435px;
            background-color: rgba(35, 50, 102, 0.137);
            @include imgCurve();
            @include flexBox(column);
            align-items: center;
            justify-content: center;

            p, h3 {
                text-align: center;
                text-transform: uppercase;
            }

            p {
                font-size: .9em;
            }

            h3 {
                font-size: 2em;
                color: $mainColor;
                margin: 0 0 50px 0;
            }

            .food-form {
                width: 40%;
                height: 30%;
                @include flexBox(column);
                justify-content: space-between;
                align-items: center;

                #email {
                    width: 100%;
                    height: 60px;
                    border: 2px solid $mainColor;
                    @include imgCurve();
                    padding-left: 15px;
                    color: #555;
                }

                [type="submit"] {
                    width: 50%;
                    height: 46px;
                    background-color: $mainColor;
                    color: #ffffff;
                    border: none;
                    font-weight: 600;
                    transition: background-color .2s ease-in-out;
                    @include imgCurve();

                    &:hover {
                        background-color: rgb(31, 9, 156);
                    }
                }
            }
        }
    }
}

footer {
    width: 100%;
    height: 470px;
    background-color: #020004;
    @include flexBox(column);
    align-items: center;

    .footer-container {
        width: 100%;
        max-width: 1140px;
        height: 90%;
        @include flexBox(row);
        align-items: center;

        .foots {
            height: 330px;
            margin-right: 40px;

            &:first-of-type {
                width: 33.5%;

                h3 {
                    text-transform: uppercase;
                    color: #ffffff;
                    margin-top: 0;
                }

                p {
                    color: #aaaaab;
                    font-size: .9em;
                    margin: 35px 0 40px 0;
                    line-height: 25px;
                }

                .social {
                    width: 100%;
                    height: 40px;
                    @include flexBox(row);

                    div {
                        width: 40px;
                        height: 100%;
                        border-radius: 50%;
                        overflow: hidden;
                        background-color: rgb(14, 14, 14);
                        margin-right: 10px;
                        @include flexBox(row);
                        justify-content: center;
                        align-items: center;

                        span {
                            font-size: 1.2em;
                            color: #ffffff;
                            transition: color .2s ease-in-out;
                        }

                        &:hover {
                            span {
                                color: rgb(31, 9, 156);
                            }
                        }
                    }
                }
            }

            &:nth-of-type(2) {
                width: 33.5%;
                @include flexBox(column);
                justify-content: space-between;

                h3 {
                    text-transform: uppercase;
                    color: #ffffff;
                    margin-top: 0;
                }

                .ePics {
                    width: 100%;
                    height: 22%;
                    justify-content: space-between;
                    @include flexBox(row);
                    @include readDiv();

                    div:first-of-type {
                        width: 17%;
                    }

                    div:last-of-type {
                        width: 76%;

                        h3 {
                            font-size: .9em;
                            color: #aaaaab;
                            text-transform: initial;
                        }

                        p {
                            font-size: .9em;
                            color: rgba(255, 255, 255, 0.445);
                        }
                    }
                }
            }

            &:last-of-type {
                width: 20%;

                h3 {
                    text-transform: uppercase;
                    color: #ffffff;
                    margin-top: 0;
                }
                
                .links {
                    ul {
                        margin: 0;
                        padding: 0;
                        @include flexBox(row);
                        flex-wrap: wrap;

                        li {
                            width: 50%;
                            list-style: none;
                            margin-bottom: 18px;

                            a {
                                text-decoration: none;
                                color: #aaaaab;
                            }
                        }
                    }
                }
            }
        }
    }

    .bFooter {
        width: 100%;
        height: 10%;
        background-color: rgb(14, 14, 14);

        p {
            font-size: .9em;
            text-align: center;
            color: #ffffff;

            span {
                color: $mainColor;
                cursor: pointer;
            }
        }
    }
}



















@import "./contact";