*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  font-family: 'Sen', sans-serif;
}

/*===========================*/
/*=========UI STYLES=========*/
/*===========================*/
header {
  width: 100%;
  height: 105px;
  background-color: #421540;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .header-container {
  width: 100%;
  height: 100%;
  max-width: 1140px;
  background-color: #292b8b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .header-container .site-logo {
  width: 250px;
  height: 100%;
  background-color: #21558a;
}

header .header-container .top-navigation {
  width: 250px;
  height: 100%;
  background-color: #1d6830;
}

main {
  overflow: hidden;
}

/*=====================*/
/*====FIRST SECTION====*/
/*=====================*/
#first {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#first .first-container {
  width: 100%;
  max-width: 1140px;
  height: 630px;
  background-color: #7a5e11;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#first .first-container > h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 2em;
}

#first .first-container > h2 span {
  color: #6665DD;
}

#first .first-container .first-content {
  height: 100%;
  background-color: #61738a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#first .first-container .first-content > div {
  background-color: maroon;
  height: 85%;
  max-height: 478px;
}

#first .first-container .first-content > div:first-of-type {
  width: 50%;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
}

#first .first-container .first-content > div:first-of-type::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.363);
  -webkit-transition: background-color .2s ease-in-out;
  transition: background-color .2s ease-in-out;
}

#first .first-container .first-content > div:first-of-type:hover::before {
  background-color: transparent;
}

#first .first-container .first-content > div:first-of-type div {
  position: absolute;
  width: 90%;
  height: 25%;
  bottom: 30px;
  margin-left: 25px;
  -webkit-transition: bottom .3s ease-in-out;
  transition: bottom .3s ease-in-out;
}

#first .first-container .first-content > div:first-of-type div p {
  color: #ffffff;
}

#first .first-container .first-content > div:first-of-type div p:first-of-type {
  font-size: 1.2em;
  margin: 0;
}

#first .first-container .first-content > div:first-of-type div p:first-of-type span {
  display: block;
}

#first .first-container .first-content > div:first-of-type div p:last-of-type {
  font-size: .9em;
  margin-top: 5px;
  opacity: 0;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
  -webkit-transition: opacity .2s ease-in-out .1s, -webkit-transform .2s ease-in-out .1s;
  transition: opacity .2s ease-in-out .1s, -webkit-transform .2s ease-in-out .1s;
  transition: transform .2s ease-in-out .1s, opacity .2s ease-in-out .1s;
  transition: transform .2s ease-in-out .1s, opacity .2s ease-in-out .1s, -webkit-transform .2s ease-in-out .1s;
}

#first .first-container .first-content > div:first-of-type:hover div {
  bottom: 60px;
}

#first .first-container .first-content > div:first-of-type:hover div p:last-of-type {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

#first .first-container .first-content > div:first-of-type img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#first .first-container .first-content > div:nth-of-type(2) {
  width: 22.5%;
}

#first .first-container .first-content > div:nth-of-type(2) h2 {
  font-size: 1.3em;
}

#first .first-container .first-content > div:nth-of-type(2) p:first-of-type {
  font-size: .9em;
}

#first .first-container .first-content > div:nth-of-type(2) p:last-of-type {
  font-size: 1em;
  font-weight: 600;
  color: #6665DD;
  -webkit-transition: color .1s ease-in-out;
  transition: color .1s ease-in-out;
  cursor: pointer;
}

#first .first-container .first-content > div:nth-of-type(2) p:last-of-type:hover {
  color: #151642;
}

#first .first-container .first-content > div:nth-of-type(2) div {
  width: 100%;
  height: 70%;
  background-color: #638a49;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
}

#first .first-container .first-content > div:nth-of-type(2) div::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.363);
  -webkit-transition: background-color .2s ease-in-out;
  transition: background-color .2s ease-in-out;
}

#first .first-container .first-content > div:nth-of-type(2) div:hover::before {
  background-color: transparent;
}

#first .first-container .first-content > div:nth-of-type(2) div img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#first .first-container .first-content > div:last-of-type {
  width: 22.5%;
}

#first .first-container .first-content > div:last-of-type h2 {
  font-size: 1.3em;
}

#first .first-container .first-content > div:last-of-type p:first-of-type {
  font-size: .9em;
}

#first .first-container .first-content > div:last-of-type p:last-of-type {
  font-size: 1em;
  font-weight: 600;
  color: #6665DD;
  -webkit-transition: color .1s ease-in-out;
  transition: color .1s ease-in-out;
  cursor: pointer;
}

#first .first-container .first-content > div:last-of-type p:last-of-type:hover {
  color: #151642;
}

#first .first-container .first-content > div:last-of-type div {
  width: 100%;
  height: 70%;
  background-color: #638a49;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
}

#first .first-container .first-content > div:last-of-type div::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.363);
  -webkit-transition: background-color .2s ease-in-out;
  transition: background-color .2s ease-in-out;
}

#first .first-container .first-content > div:last-of-type div:hover::before {
  background-color: transparent;
}

#first .first-container .first-content > div:last-of-type div img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
/*# sourceMappingURL=main.css.map */