
@import "./mixin";


*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    font-family: 'Sen', sans-serif;
}




/*===========================*/
/*=========UI STYLES=========*/
/*===========================*/


header {
    width: 100%;
    height: 105px;
    background-color: rgb(66, 21, 64);
    @include flexBox(row);
    justify-content: center;

    .header-container {
        width: 100%;
        height: 100%;
        max-width: 1140px;
        background-color: rgb(41, 43, 139);
        @include flexBox(row);
        justify-content: space-between;

        .site-logo {
            width: 250px;
            height: 100%;
            background-color: rgb(33, 85, 138);
        }

        .top-navigation {
            width: 250px;
            height: 100%;
            background-color: rgb(29, 104, 48);
        }
    }
}

main {
    overflow: hidden;
    margin-top: 200px;
}









/*=====================*/
/*====FIRST SECTION====*/
/*=====================*/


#first {
    overflow: hidden;
    @include flexBox(row);
    justify-content: center;

    .first-container {
        width: 100%;
        max-width: 1140px;
        height: 630px;
        overflow: hidden;
        @include flexBox(column);

        & > h2 {
            text-align: center;
            @include sectionTitle();
        }

        .first-content {
            height: 100%;
            @include flexBox(row);
            justify-content: space-between;

            & > div {
                height: 85%;
                max-height: 478px;
                cursor: pointer;

                &:first-of-type {
                    width: 50%;
                    position: relative;
                    @include imgCurve();
                    @include beforeHover();
                    @include imgTransition(30px, 25px);

                    img {
                        @include siteImg();
                    }

                }

                &:nth-of-type(2) {
                    width: 22.5%;

                    h3 {
                        font-size: 1.3em;
                    }

                    & > p {
                        &:first-of-type {
                            font-size: .9em;
                        }

                        &:last-of-type {
                            font-size: 1em;
                            font-weight: 600;
                            @include pHover($mainColor, rgb(21, 22, 66));
                        }
                    }

                    & > div {
                        width: 100%;
                        height: 70%;
                        position: relative;
                        @include imgCurve();
                        @include beforeHover();
                        @include imgTransition(80px, 20px);

                        img {
                            @include siteImg();
                        }
                    }
                }

                &:last-of-type {
                    width: 22.5%;

                    h3 {
                        font-size: 1.3em;
                    }

                    & > p {
                        &:first-of-type {
                            font-size: .9em;
                        }

                        &:last-of-type {
                            font-size: 1em;
                            font-weight: 600;
                            @include pHover($mainColor, rgb(21, 22, 66));
                        }
                    }

                    & > div {
                        width: 100%;
                        height: 70%;
                        position: relative;
                        @include imgCurve();
                        @include beforeHover();
                        @include imgTransition(80px, 20px);

                        img {
                            @include siteImg();
                        }
                    }
                }
            }
        }
    }
}









/*======================*/
/*====SECOND SECTION====*/
/*======================*/


#second {
    width: 100%;
    min-height: 1200px;
    @include flexBox(row);
    justify-content: center;

    .second-container {
        width: 100%;
        max-width: 1140px;
        @include flexBox(row);
        justify-content: space-between;









        /*===================*/
        /*====LEFT COLUMN====*/
        /*===================*/

        .main-left {
            width: 65%;
            height: 100%;



            /******************/
            /*****ARTICLES*****/
            /******************/

            .articles {
                width: 100%;
                height: 510px;
                overflow: hidden;

                h2 {
                    @include sectionTitle();
                }

                & > div {
                    width: 100%;
                    height: 82%;
                    position: relative;
                    @include flexBox(row);
                    justify-content: space-between;

                    .arts {
                        width: 30%;
                        height: 100%;
                        
                        & > div:first-of-type {
                            width: 100%;
                            height: 70%;
                            position: relative;
                            cursor: pointer;
                            @include imgCurve();
                            @include beforeHover();
                            @include imgTransition(80px, 20px);

                            img {
                                @include siteImg();
                            }
                        }

                        h3 {
                            @include pHover(#232222, $mainColor);
                            cursor: pointer;
                        }

                        .author {
                            @include authorDiv();
                        }
                    }
                }
            }







            /*******************/
            /*****PRACTICES*****/
            /*******************/


            .practices {
                width: 100%;
                height: auto;
                overflow: hidden;
                margin-top: $sectionSpace;
                @include flexBox(column);

                h2 {
                    @include sectionTitle();
                }

                .top-practice {
                    width: 100%;
                    height: 425px;
                    @include flexBox(row);
                    justify-content: space-between;

                    .prac {
                        width: 48%;
                        height: 100%;

                        & > div {
                            width: 100%;
                            height: 57%;

                            &:first-of-type {
                                position: relative;
                                @include imgCurve();
                                @include beforeHover();
                                @include imgTransition(60px, 20px);

                                img {
                                    @include siteImg();
                                }
                            }
                        }

                        
                        .author {
                            @include authorDiv();
                        }
                    }
                }

                .bottom-practice {
                    width: 100%;
                    height: 482px;
                    margin-top: $sectionSpace;
                    @include flexBox(row);
                    flex-wrap: wrap;
                    justify-content: space-between;

                    .bPrac {
                        width: 48.5%;
                        height: 22%;
                        @include flexBox(row);
                        justify-content: space-between;

                        & > div {
                            &:first-of-type {
                                width: 28%;
                                height: 100%;
                                position: relative;
                                cursor: pointer;
                                @include imgCurve();

                                img {
                                    @include siteImg();
                                }
                            }

                            &:last-of-type {
                                width: 70%;
                                height: 100%;

                                h3 {
                                    margin: 0;
                                    cursor: pointer;
                                    @include pHover(#232222, $mainColor);
                                }

                                p {
                                    margin-top: 5px;
                                }
                            }
                        }
                    }
                }
            }







                /*********************/
                /*****STREET FOOD*****/
                /*********************/


                .street-food {
                    width: 100%;
                    height: 510px;
                    overflow: hidden;
                    margin-top: $sectionSpace;
    
                    h2 {
                        @include sectionTitle();
                    }
    
                    & > div {
                        width: 100%;
                        height: 82%;
                        position: relative;
                        @include flexBox(row);
                        justify-content: space-between;
    
                        .street {
                            width: 30%;
                            height: 100%;
                            
                            & > div:first-of-type {
                                width: 100%;
                                height: 70%;
                                position: relative;
                                cursor: pointer;
                                @include imgCurve();
                                @include beforeHover();
                                @include imgTransition(80px, 20px);
    
                                img {
                                    @include siteImg();
                                }
                            }
    
                            h3 {
                                @include pHover(#232222, $mainColor);
                                cursor: pointer;
                            }
    
                            .author {
                                @include authorDiv();
                            }
                        }
                    }
                }







                /******************************/
                /*****HEALTH AND LIFESTYLE*****/
                /******************************/


                .lifestyles {
                    width: 100%;
                    height: 885px;
                    overflow: hidden;
                    margin-top: $sectionSpace;

                    h2 {
                        @include sectionTitle();
                    }

                    & > div {
                        width: 100%;
                        height: 90%;
                        @include flexBox(column);
                        justify-content: space-between;

                        .life {
                            width: 100%;
                            height: 30.5%;
                            @include flexBox(row);
                            justify-content: space-between;

                            & > div {
                                width: 48%;

                                &:first-of-type {
                                    position: relative;
                                    @include imgCurve;
                                    cursor: pointer;

                                    img {
                                        @include siteImg();
                                    }
                                }

                                &:last-of-type {

                                    h3 {
                                        @include pHover(#232222, $mainColor);
                                        cursor: pointer;
                                        margin-top: 0;
                                    }

                                    .author {
                                        @include authorDiv();
                                    }

                                    & > p {
                                        &:first-of-type {
                                            color: #cccccc;
                                        }

                                        &:last-of-type {
                                            @include pHover($mainColor, rgb(21, 22, 66));
                                            font-size: 1em;
                                            font-weight: 600;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                








                /************************/
                /*****SMALL CATEGORY*****/
                /************************/


                .small-category {
                    width: 100%;
                    height: 220px;
                    overflow: hidden;
                    margin-top: $sectionSpace;

                    h2 {
                        @include sectionTitle();
                    }

                    & > div {
                        width: 100%;
                        height: 70%;
                        @include flexBox(row);
                        justify-content: space-between;

                        .sCats {
                            width: 30%;
                            height: 100%;
                            position: relative;
                            @include imgCurve();
                            @include beforeHover();
                            @include imgTransition(30px, 0);
                            @include flexBox(row);
                            justify-content: center;

                            span {
                                font-size: 1.8em;
                                text-align: center;
                            }

                            img {
                                @include siteImg();
                            }
                        }
                    }
                }







                /***********************/
                /*****TRENDY DISHES*****/
                /***********************/


                .dishes {
                    width: 100%;
                    height: 885px;
                    overflow: hidden;
                    margin-top: $sectionSpace;

                    h2 {
                        @include sectionTitle();
                    }

                    & > div {
                        width: 100%;
                        height: 90%;
                        @include flexBox(column);
                        justify-content: space-between;

                        .dish {
                            width: 100%;
                            height: 30.5%;
                            @include flexBox(row);
                            justify-content: space-between;

                            & > div {
                                width: 48%;

                                &:first-of-type {
                                    position: relative;
                                    @include imgCurve;
                                    cursor: pointer;

                                    img {
                                        @include siteImg();
                                    }
                                }

                                &:last-of-type {

                                    h3 {
                                        @include pHover(#232222, $mainColor);
                                        cursor: pointer;
                                        margin-top: 0;
                                    }

                                    .author {
                                        @include authorDiv();
                                    }

                                    & > p {
                                        &:first-of-type {
                                            color: #cccccc;
                                        }

                                        &:last-of-type {
                                            @include pHover($mainColor, rgb(21, 22, 66));
                                            font-size: 1em;
                                            font-weight: 600;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }







                /************************/
                /*****GREAT CULTURES*****/
                /************************/

                .cultures {
                    width: 100%;
                    height: auto;
                    overflow: hidden;
                    margin-top: $sectionSpace;
                    @include flexBox(column);

                    h2 {
                        @include sectionTitle();
                    }
    
                    & > div {
                        width: 100%;
                        height: 425px;
                        @include flexBox(row);
                        justify-content: space-between;
    
                        .cult {
                            width: 48%;
                            height: 100%;
    
                            & > div {
                                width: 100%;
                                height: 57%;
    
                                &:first-of-type {
                                    position: relative;
                                    @include imgCurve();
    
                                    img {
                                        @include siteImg();
                                    }
                                }
                            }
    
                            
                            .author {
                                @include authorDiv();
                            }
                        }
                    }
                }







                /************************/
                /*****STAY CONNECTED*****/
                /************************/


                .connected {
                    width: 100%;
                    height: 115px;
                    overflow: hidden;
                    margin-top: $sectionSpace;

                    h2 {
                        @include sectionTitle();
                    }

                    & > div {
                        width: 100%;
                        height: 42%;
                        @include flexBox(row);
                        justify-content: space-between;

                        .connect {
                            width: 21.5%;
                            height: 100%;
                            border: 1px solid #cccccc;
                            @include flexBox(row);
                            @include imgCurve();

                            div {
                                &:first-of-type {
                                    width: 30%;
                                    height: 100%;
                                    border-right: 1px solid #cccccc;
                                }

                                &:last-of-type {
                                    width: 70%;
                                    height: 100%;

                                    p {
                                        margin: 0;
                                        text-align: center;
                                    }
                                }
                            }
                        }
                    }
                }







                /************************/
                /*****HEART CLOGGERS*****/
                /************************/

                .cloggers {
                    width: 100%;
                    height: auto;
                    overflow: hidden;
                    margin-top: $sectionSpace;
                    @include flexBox(column);

                    h2 {
                        @include sectionTitle();
                    }
    
                    & > div {
                        width: 100%;
                        height: 425px;
                        @include flexBox(row);
                        justify-content: space-between;
    
                        .clog {
                            width: 48%;
                            height: 100%;
    
                            & > div {
                                width: 100%;
                                height: 57%;
    
                                &:first-of-type {
                                    position: relative;
                                    @include imgCurve();
    
                                    img {
                                        @include siteImg();
                                    }
                                }
                            }
    
                            
                            .author {
                                @include authorDiv();
                            }
                        }
                    }
                }







                /*******************/
                /*****INSTAGRAM*****/
                /*******************/

                .instagram {
                    width: 100%;
                    height: 285px;
                    overflow: hidden;
                    margin-top: $sectionSpace;

                    h2 {
                        @include sectionTitle();
                    }

                    & > div {
                        width: 100%;
                        height: 77%;
                        background-color: rgb(27, 133, 13);
                    }
                }










        /*****LEFT COLUMN END*****/
        }


























        /*====================*/
        /*====RIGHT COLUMN====*/
        /*====================*/

        .main-right {
            width: 30%;
            height: 100%;




            /*******************/
            /*****MUST READ*****/
            /*******************/

            .must-read {
                width: 100%;
                height: 520px;
                overflow: hidden;

                h2 {
                    @include sectionTitle();
                }

                & > div {
                    width: 100%;
                    height: 82%;
                    @include flexBox(column);
                    justify-content: space-between;

                    .reads {
                        width: 100%;
                        height: 22%;
                        justify-content: space-between;
                        @include flexBox(row);
                        @include readDiv();
                    }
                }
            }







            /********************/
            /*****CATEGORIES*****/
            /********************/


            .categories {
                width: 100%;
                height: 600px;
                margin-top: $sectionSpace;
                overflow: hidden;

                h2 {
                    @include sectionTitle();
                    margin-bottom: 20px;
                }

                .main-categories {
                    width: 100%;
                    height: 85%;
                    @include flexBox(column);
                    justify-content: space-between;

                    .cats {
                        width: 100%;
                        height: 17%;
                        background-color: transparent;
                        cursor: pointer;
                        border: 1px solid #cccccc;
                        @include imgCurve();
                        @include flexBox(row);
                        align-items: center;
                        transition: background-color .2s ease-in-out;

                        div {
                            width: 60px;
                            height: 60px;
                            position: relative;
                            margin-left: 10px;
                            @include imgCurve();

                            img {
                                @include siteImg();
                            }
                        }

                        h3 {
                            margin-left: 15px;
                            color: #232222;
                            transition: color .2s ease-in-out;
                        }

                        &:hover {
                            background-color: rgba(103, 101, 221, 0.308);

                            h3 {
                                color: $mainColor;
                            }
                        }
                    }
                }
            }







            /*********************/
            /*****RESERVATION*****/
            /*********************/

            .reservation {
                width: 100%;
                height: 560px;
                position: relative;
                margin-top: $sectionSpace;
                @include imgCurve();

                img {
                    @include siteImg();
                }

                h3, p {
                    position: absolute;
                    text-align: center;
                    width: 100%;
                    font-weight: 800;
                }

                h3 {
                    top: 20px;
                    font-size: 1.5em;
                }

                p {
                    bottom: 15px;
                    font-size: 1.2em;
                    color: $mainColor;
                }
            }








            /***********************/
            /*****LATEST VIDEOS*****/
            /***********************/

            .videos {
                width: 100%;
                height: 720px;
                overflow: hidden;
                margin-top: $sectionSpace;

                h2 {
                    @include sectionTitle();
                }

                & > div {
                    width: 100%;
                    height: 88%;
                    @include flexBox(column);
                    justify-content: space-between;

                    .vids {
                        width: 100%;
                        height: 47%;

                        & > div {
                            width: 100%;
                            height: 80%;
                            position: relative;
                            @include imgCurve();
                            @include flexBox(row);
                            justify-content: center;
                            align-items: center;
                            
                            &::before {
                                content: "";
                                position: absolute;
                                width: 100%;
                                height: 100%;
                                background-color: rgba(0, 0, 0, 0.363);
                            }

                            img {
                                @include siteImg();
                            }

                            .play {
                                position: absolute;
                                width: 78px;
                                height: 78px;
                                border-radius: 50%;
                                border: 3px solid #ffffff;
                                background-color: transparent;
                                @include flexBox(row);
                                align-items: center;
                                cursor: pointer;

                                span {
                                    display: block;
                                    margin-left: 25px;
                                    width: 0;
                                    height: 0;
                                    border-left: 25px solid #ffffff;
                                    border-top: 13px solid transparent;
                                    border-bottom: 13px solid transparent;
                                }
                            }
                        }

                        h3 {
                            font-size: 1em;
                            @include pHover(#232222, $mainColor);
                        }
                    }
                }
            }







            /***********************/
            /*****POPULAR POSTS*****/
            /***********************/

            .popular {
                width: 100%;
                height: 530px;
                overflow: hidden;
                margin-top: $sectionSpace;

                h2 {
                    @include sectionTitle();
                }

                & > div {
                    width: 100%;
                    height: 83%;
                    @include flexBox(column);
                    justify-content: space-between;

                    .pops {
                        width: 100%;
                        height: 10.5%;
                        @include flexBox(row);

                        h4 {
                            font-size: 2em;
                            font-style: italic;
                            width: 58px;
                            height: 45px;
                            margin: 0;
                            @include flexBox(row);
                            justify-content: center;
                            align-items: center;
                        }

                        h3 {
                            font-size: 1em;
                            width: 75%;
                            margin: 0 0 0 10px;
                            @include pHover(#232222, $mainColor);
                        }
                    }
                }
            }







            /*************************/
            /*****RECENT COMMENTS*****/
            /*************************/

            .comments {
                width: 100%;
                height: 520px;
                overflow: hidden;
                margin-top: $sectionSpace;

                h2 {
                    @include sectionTitle();
                }

                & > div {
                    width: 100%;
                    height: 82%;
                    @include flexBox(column);
                    justify-content: space-between;

                    .comms {
                        width: 100%;
                        height: 22%;
                        justify-content: space-between;
                        @include flexBox(row);
                        @include readDiv();

                        h3 {
                            @include pHover(#232222, $mainColor); 
                        }

                        div:first-of-type {
                            border-radius: 50%;
                        }
                    }
                }
            }







            /********************/
            /*****TRAILHOUSE*****/
            /********************/

            .trailhouse {
                width: 100%;
                height: 325px;
                position: relative;
                margin-top: $sectionSpace;
                @include imgCurve();

                img {
                    @include siteImg();
                }

                h3, p {
                    position: absolute;
                    text-align: center;
                    width: 100%;
                    font-weight: 800;
                }

                h3 {
                    top: 20px;
                    font-size: 1.5em;
                }

                p {
                    bottom: 15px;
                    font-size: 1.2em;
                    color: $mainColor;
                }
            }







            /********************/
            /*****DON'T MISS*****/
            /********************/


            .dont-miss {
                width: 100%;
                height: 1350px;
                overflow: hidden;
                margin-top: $sectionSpace;
                @include flexBox(column);

                h2 {
                    @include sectionTitle();
                }

                & > div {
                    width: 100%;
                    height: 95%;
                    @include flexBox(column);
                    justify-content: space-between;

                    .miss {
                        width: 100%;
                        height: 32%;

                        & > div {
                            width: 100%;
                            height: 57%;

                            &:first-of-type {
                                position: relative;
                                @include imgCurve();

                                img {
                                    @include siteImg();
                                }
                            }
                        }

                        h3 {
                            margin: 12px 0 12px 0;
                            @include pHover(#232222, $mainColor); 
                        }

                        & > p {
                            font-size: .9em;
                            margin-top: 0;
                        }

                        
                        .author {
                            @include authorDiv();
                        }
                    }
                }
            }





        /*****RIGHT COLUMN END*****/
        }
    }
}